<%= form_for @component do |f| =%>

<p>
  <%= f.label :weight =%>
  <%= f.text_field :weight =%>
</p>
<p>
  <%= f.label :price =%>
  <%= f.text_field :price =%>
</p>
<p>
  <%= f.label :name =%>
  <%= f.text_field :name =%>
</p>
<p>
  <%= f.submit =%>
</p>

<% end %>